.user {
    position: relative;
}

.user__image {
    width: max(
        2.125vh,
        19.13px
    ); 
    border-radius: 50%; 
}

.user__availability {
    position: absolute; 
    bottom: 0; 
    right: -1.5px; 
    border-radius: 50%;
    width: max(
        0.75vh,
        6.19px
    ); 
    height: max(
        0.75vh,
        6.19px
    );
    border: 1px solid #fefffe; 
}

.user__availability--available {
    background: #01b344; 
}

.user__availability--unavailable {
    background: #e8b700; 
}